<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!-- Configuracion de Service -->
    <bean id="loginTutorServiceMock" class="com.pirux.tesis.service.mock.LoginServiceMock" />
    <bean id="loginTutorService" class="com.pirux.tesis.service.impl.LoginServiceImpl">
        <property name="tutorDAO" ref="tutorDAO"></property>
    </bean>
    <bean id="articuloRelacionadoServiceMock" class="com.pirux.tesis.service.mock.ArticuloRelacionadoServiceMock" />
    <bean id="articuloRelacionadoService" class="com.pirux.tesis.service.impl.ArticuloRelacionadoServiceImpl">
    </bean>
    <bean id="tallerVirtualServiceMock" class="com.pirux.tesis.service.mock.TallerVirtualServiceMock" />
    <bean id="tallerVirtualService" class="com.pirux.tesis.service.impl.TallerVirtualServiceImpl">
        <property name="tallerVirtualDAO" ref="tallerVirtualDAO"/>
    </bean>
</beans>