<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- Configuracion de los Beans de JSF -->
	<bean id="tutorSesionBean" class="com.pirux.tesis.bean.TutorSesionBean"
		scope="session">
		<property name="tutorLoginHandler" ref="tutorLoginHandler" />
	</bean>
    <bean id="hangOutBean" class="com.pirux.tesis.bean.HangOutBean"
        scope="application" />
    <bean id="articulosRelacionadosBean" class="com.pirux.tesis.bean.ArticulosRelacionadosBean"
        scope="application">
		<constructor-arg index="0" ref="articuloRelacionadoHandler" />
    </bean>
</beans>