root { 
    display: block;
}

.banner{
    background-image:url("#{resource['images:imagenes/banner.png']}"); 
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1004;
}

.content {
  margin-top: 65px;
  overflow: hidden;
}

.footer {
  color: red;
  margin-top: 5px;
}

.panelDerecho {
  float: right;
  width: 240px;
  /*position: fixed;*/
  /*top: 55px;*/
  /*right: 10px;*/
  min-height: 400px;;
  overflow: hidden;
  margin-right: 10px;
}

.panelCentral {
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid blue;
}

/* Estilos panel lateral */
.subPanelEnlaces {
  margin-top: 10px;
  width: 100%;
}

.tituloPanel {
  background-color: #257295;
  color: white;
  padding: 5px;
  font-family: tahoma;
  font-weight: bold;
  font-size: 18px;
}

.panelEnlaces {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 360px;
  border: 4px solid #257595;
  margin-top: 5px;
}

.enlaceRelacionado {
  border-top-color: gray;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: 13px;
  height: 50px;
  line-height: 13px;
  overflow: hidden;
  padding: 5px;
  width: 250px;
  cursor: pointer;
}

.contenedorImagen {
  float: left;
  margin-right: 5px;
}

.imagenRelacionada {
  width: 45px;
}

.contenidoEnlace {
  font-family: tahoma;
  height: 100%;
  width: 160px;
  overflow: hidden;
}

/* Estilos Pagina Principal */
body {
  background-color: #E6E6E6 !important;
  margin: 0;
  min-width: 1024px;
  min-height: 768px;
}

/* Estilos Menu Bar Header */
.menuBarHeader {
  background-color: #56A6DB;
  height: 44px;
  /*background-image: url("../images/fondo_header_azul.png");*/
  border: solid 0;
}

/* Estilos Panel Footer */
.panelFooterDerechosReservados {
  background-color: #257295;
  border-top: 3px solid;
  text-align: right;
}

.linksFooter {
  display: inline-block;
  border-width:0px;
  border-color: #000000;
  border-style: solid;
  background: #257295;
  text-decoration: none;
  text-align: left;
  color: #56A6DB;
  margin-left: 20px;
  font-size: 14px !important;
}

.linksFooter:hover {
  color: blue;
  font-weight: bold;
}

.descripcionDerechosReservados {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
/* Estilos Panel Derecho */
.divImagenArticuloRelacionado {
  display: inline-block;
  border-right: 1px solid blue;
  padding-right: 3px;
}

.divTituloArticuloRelacionado {
  display: inline-block;
  font-style: italic;
  font-size: 20px;
}

.divUrlArticuloRelacionado {
  margin-top: 5px;
  display: block;
  text-decoration: none;
  border-top: 1px solid blue;
  color: blue !important;
  font-size: 13px;
  text-align: right;
}

.tituloSesion {
  height: 40px;
  overflow: hidden;
}

.videoSesion {
  background-color: #F2F2F2;
  margin-top: 10px;
  min-height: 390px
  padding: 10px;
}

.informacionClase {
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
}

.informacionTutor {
  width: 45%;
  float: left;
}

.informacionSesion {
  width: 45%;
  float: right;
  display: inline;
}

.proximasSesiones{
  margin-top: 30px;
  padding: 10px;
}

.tituloInformativo {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos Login Tutor */
.panelLoginTutor {
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #DCDCDC;
}

.textoLogin {
  text-align: left;
  color: #0D2DFF;
  font-size: 14px;
  font-weight: bold;
}

.valorLogin {
  text-align: left;
  color: #B6B6B6;
  font-size: 12px;
  font-weight: normal;
}

.botonLogin {
  color: #255FFF;
  background-color: #B1DAEC;
  width: 210px;
}

/* Estilos Home Page Tutor */
.panelTabPadre {
  border: 0;
  background-color: #DCDCDC;
}

.panelTabs {
  border: 0;
  background-color: #FFFFFF;
}

.panelInformacion {
  border: 0;
  background-color: #FFFFFF;
}

.mensajeErrorLogin {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: 15x;
  font-weight: bold;
  color: red;
}

.tituloPanelInformacion {
  color: #4E7DFF;
  margin-left: 30px;
  font-size: 19px;
  font-weight: bold;
}

.descripcionPanelInformacion {
  color: #4E7DFF;
  margin-left: 60px;
  font-size: 17px;
}

.valorPanelInformacion {
  color: black;
  margin-left: 20px;
  font-size: 17px;
}

.tabTituloHangOut {
  color: blue;
}

.tituloPanelTabsTutorHome {
  color: #4E7DFF;
  margin-left: 30px;
  font-size: 19px;
  font-weight: bold;
}

.panelTabsTutorHome {
  border: 0;
  background-color: #FFFFFF;
}

.descripcionPanelTutorHome {
  color: #4E7DFF;
  margin-left: 60px;
  font-size: 17px;
}

.botonPublicarHangout {
  width: 180px;
  text-align: center;
  font-size: 13px !important;
  font-weight: normal;
  margin-left: 60px;
}

/* Estilos panel video hangout */
.tituloPresentacionHangout {
	display: inline-block;
	text-decoration: none;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

.panelDatosTutor {
	width: 100%;
}

.tituloHangout {
  color: #4E7DFF;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 10px;
  text-align: left;
}

.botonIngresarHangout {
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid #168DD9;
  background-color: #27ABFF;
  color: white !important;
  font-size: 12px !important;
  font-weight: bold;
  width: 110px;
  height: 15px;
  padding: 3px;
  float: right;
}

/* Estilos panel descripcion hangout */
.subtituloDescripcionHangout {
  text-align: left;
  margin-left: 20px;
  color: #4E7DFF;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
}

.valorDescripcionHangout {
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  color: black;
  font-size: 15px;
  width: 300px;
}

.fotoTutorHangout {
  border: 1px solid #168DD9;
  margin-left: 50px;
}

.detalleTutorHangout {
  display: inline-block;
  text-align: left;
  color: black;
  font-size: 15px;
  width: 350px !important;
  width: 250px;
}

/* Estilos del video hangout */
.displayVideoHangout {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.panelAcordionHangout {
  width: 100%;
  border: 1px solid white;
}

/* Estilos del panel de talleres realizados */
.tituloPanelProyectosRealizados {
  color: #257295;
}

.panelProyectoRealizado {
  
}

.contenedorProyectoRealizadoIzquierdo {
  display: inline-table;
  float: left;
  width: 15%;
}

.contenedorProyectoRealizadoDerecho {
  display: inline-table;
  float: left;
  width: 85%;
}

.fechaProyectoRealizado {
  color: #257295;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid red;
  float: left;
  width: 100%;
}

.tituloProyectoRealizado {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid red;
  float: left;
  width: 100%;
}

.tituloProyectoRealizado:hover {
  color: blue;
  cursor: pointer;
}

.labelProyectoRealizado {
  color: #257295;
  font-size: 15px;
  text-align: left;
}

.valorProyectoRealizado {
  color: black;
  font-size: 15px;
  text-align: left;
}