/* Estilos Login Tutor */
.panelLoginTutor {
    width: 250px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #DCDCDC;
}

.textoLogin {
    text-align: left;
    color: #0D2DFF;
    font-size: 14px;
    font-weight: bold;
}

.valorLogin {
	text-align: left;
	color: #B6B6B6;
	font-size: 12px;
	font-weight: normal;
}

.botonLogin {
	color: #255FFF;
	background-color: #B1DAEC;
	width: 210px;
}

/* Estilos Home Page Tutor */
.panelTabPadre {
    border: 0;
    background-color: #DCDCDC;
}

.panelTabs {
    border: 0;
    background-color: #FFFFFF;
}

.panelInformacion {
	border: 0;
	background-color: #FFFFFF;
}

.mensajeErrorLogin {
	display: block;
	margin-top: 40px;
	text-align: center;
	font-size: 15x;
	font-weight: bold;
	color: red;
}

.tituloPanelInformacion {
	color: #4E7DFF;
	margin-left: 30px;
	font-size: 19px;
	font-weight: bold;
}

.descripcionPanelInformacion {
	color: #4E7DFF;
	margin-left: 60px;
	font-size: 17px;
}

.valorPanelInformacion {
	color: black;
	margin-left: 20px;
	font-size: 17px;
}

.tabTituloHangOut {
	color: blue;
}

.tituloPanelTabsTutorHome {
    color: #4E7DFF;
    margin-left: 30px;
    font-size: 19px;
    font-weight: bold;
}

.panelTabsTutorHome {
    border: 0;
    background-color: #FFFFFF;
}

.descripcionPanelTutorHome {
	color: #4E7DFF;
    margin-left: 60px;
    font-size: 17px;
}

.botonPublicarHangout {
	width: 180px;
	text-align: center;
	font-size: 13px !important;
	font-weight: normal;
	margin-left: 60px;
}

/* Estilos panel video hangout */
.tituloHangout {
	display: inline-block;
	text-align: left;
	color: #4E7DFF;
	font-size: 15px;
	font-weight: bold;
	margin-left: 40px;
	width: 600px;
}

.botonIngresarHangout {
	display: inline-block;
	border: 1px solid #168DD9;
	background-color: #27ABFF;
	color: white;
	font-size: 15px !important;
	font-weight: bold;
	margin-left: 150px;
	width: 150px;
}

/* Estilos panel descripcion hangout */
.subtituloDescripcionHangout {
	text-align: left;
	margin-left: 20px;
	color: #4E7DFF;
	font-size: 15px;
	font-weight: bold;
	width: 100px;
}

.valorDescripcionHangout {
	display: inline-block;
	text-align: left;
	margin-left: 40px;
	color: black;
	font-size: 15px;
	width: 300px;
}

.fotoTutorHangout {
	border: 1px solid #168DD9;
	margin-left: 50px;
}

.detalleTutorHangout {
	display: inline-block;
	text-align: left;
	color: black;
	font-size: 15px;
	width: 350px !important;
	width: 250px;
}

/* Estilos del video hangout */
.displayVideoHangout {
	margin: 0 auto;
	text-align: center;
}

.panelAcordionHangout {
	width: 1036px;
}