/* 
    Document   : style
    Created on : 13/04/2013, 10:01:01 PM
    Author     : Juan Carlos Sánchez
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.banner{
    background-image:url("#{resource['images:imagenes/banner.png']}"); 
}
